header {
  background-color: #bef3c0;
}
header nav {
  display: flex;
  justify-content: space-between;
}
header nav .logo {
  margin-left: 110px;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
}
header nav .logo i {
  padding-top: 22px;
  margin: 0px 5px;
}
header nav .logo img {
  height: 40px;
}
header nav .nav {
  margin-right: 110px;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
header nav .nav a {
  margin-left: 40px;
  color: var(--black, #0b0706);
  font-family: "BPG Glaho WEB Caps", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
header nav .nav .active {
  color: #70c174;
  font-size: 18px;
}
header nav .nav .reg {
  width: 115px;
  height: 43px;
  border-radius: 4px;
  background-color: #0b0706;
  display: flex;
  align-items: center;
  justify-content: center;
}
header nav .nav .reg h3 {
  color: #fff;
  text-align: right;
  font-family: "BPG Glaho WEB Caps", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
header nav .nav .sign {
  width: 115px;
  height: 43px;
  border-radius: 4px;
  background-color: #0b0706;
  display: flex;
  align-items: center;
  justify-content: center;
}
header nav .nav .sign h3 {
  color: #fff;
  text-align: right;
  font-family: "BPG Glaho WEB Caps", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
header nav .reg:hover,
header nav .sign:hover {
  background-color: aliceblue;
  transition: 0.3s;
  width: 105px;
  height: 33px;
}
header nav .reg:hover h3,
header nav .sign:hover h3 {
  color: #1d2130;
}
header .fa-bars {
  display: none;
}

.yeli {
  width: 100%;
  height: 735px;
  background-image: url("../../imgs/yelistba1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.yeli h1 {
  color: #ebf0f9;
  font-family: "BPG Glaho WEB Caps", sans-serif;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}
.yeli p {
  color: #bef3c0;
  font-family: "BPG Glaho WEB Caps", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  padding-left: 300px;
}

.eco {
  background-color: #bef3c0;
}
.eco .ecosystem {
  padding-top: 96px;
  padding-left: 110px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 500px;
}
.eco .ecosystem .line {
  width: 100px;
  height: 3px;
  background-color: #1d2130;
}
.eco .ecosystem h2 {
  color: #1d2130;
  font-family: "BPG Glaho WEB Caps", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}
.eco .info {
  display: flex;
  justify-content: space-around;
  padding: 96px 0px;
}
.eco .info .river {
  width: 400px;
  height: 553px;
  background-image: url("../../imgs/trough.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.eco .info .river h2 {
  display: none;
}
.eco .info .red {
  width: 400px;
  height: 553px;
  background-image: url("../../imgs/red.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.eco .info .red h2 {
  display: none;
}
.eco .info .plant {
  width: 400px;
  height: 553px;
  background-image: url("../../imgs/plant.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.eco .info .plant h2 {
  display: none;
}
.eco .info h1 {
  color: #fbff00;
  font-family: "BPG Glaho WEB Caps", sans-serif;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}
.eco .info .river:hover,
.eco .info .red:hover,
.eco .info .plant:hover {
  border-radius: 10px;
  transition: 1s;
  width: 600px;
  height: 753px;
}
.eco .info .river:hover h1,
.eco .info .red:hover h1,
.eco .info .plant:hover h1 {
  display: none;
}
.eco .info .river:hover h2,
.eco .info .red:hover h2,
.eco .info .plant:hover h2 {
  display: flex;
  color: #fbff00;
  font-family: "BPG Glaho WEB Caps", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: 150%;
  align-self: center;
  padding-left: 20px;
  text-align: center;
}

.history {
  display: flex;
  justify-content: center;
  background-color: #0b0706;
}
.history .back {
  margin: 96px 0px;
  width: 90%;
  height: 700px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("../../imgs/oldcastle.jpg");
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.history .back .center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.history .back .center .line2 {
  width: 250px;
  height: 3px;
  background-color: #bef3c0;
}
.history .back .center h1 {
  color: #bef3c0;
  font-family: "BPG Glaho WEB Caps", sans-serif;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  height: 60px;
}
.history .back h2 {
  display: none;
}
.history .back:hover {
  transition: 1s;
  cursor: pointer;
  border-radius: 70px;
}
.history .back:hover h2 {
  color: #70c174;
  font-family: "BPG Glaho WEB Caps", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 900;
  line-height: 150%;
  text-align: center;
  display: flex;
}

.album {
  background-color: #bef3c0;
  padding-bottom: 96px;
}
.album .top {
  width: 100%;
  padding: 96px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.album .top h1 {
  color: #1d2130;
  font-size: 64px;
  font-family: "BPG Glaho WEB Caps", sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}
.album .first {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 96px;
}
.album .first .half .qarchoxi {
  width: 370px;
  height: 710px;
  background-image: url("../../imgs/qarchoxis cixe.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.album .first .half .qarchoxi h1 {
  color: aliceblue;
  font-family: "BPG Glaho WEB Caps", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  text-align: center;
}
.album .first .half2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.album .first .half2 .cubes {
  display: flex;
  justify-content: space-between;
}
.album .first .half2 .cubes .largvisi {
  width: 459px;
  height: 345px;
  background-image: url("../../imgs/largvisi.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.album .first .half2 .cubes .largvisi h1 {
  color: aliceblue;
  font-family: "BPG Glaho WEB Caps", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  text-align: center;
}
.album .first .half2 .cubes .lomisi {
  width: 459px;
  height: 345px;
  background-image: url("../../imgs/lomisi.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.album .first .half2 .cubes .lomisi h1 {
  color: aliceblue;
  font-family: "BPG Glaho WEB Caps", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  text-align: center;
}
.album .first .half2 .eristavebi {
  width: 938px;
  height: 345px;
  background-image: url("../../imgs/eristavebialbum.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.album .first .half2 .eristavebi h1 {
  color: aliceblue;
  font-family: "BPG Glaho WEB Caps", sans-serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  text-align: center;
}
.album .second {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 96px;
}
.album .second .pirveli {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.album .second .pirveli .kubebi {
  display: flex;
  justify-content: space-between;
}
.album .second .pirveli .kubebi .wirqoli {
  width: 459px;
  height: 345px;
  background-image: url("../../imgs/wirqoli.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.album .second .pirveli .kubebi .wirqoli h1 {
  color: aliceblue;
  font-family: "BPG Glaho WEB Caps", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  text-align: center;
}
.album .second .pirveli .kubebi .cxavati {
  width: 459px;
  height: 345px;
  background-image: url("../../imgs/cxavati.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.album .second .pirveli .kubebi .cxavati h1 {
  color: aliceblue;
  font-family: "BPG Glaho WEB Caps", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  text-align: center;
}
.album .second .pirveli .yelistba {
  width: 938px;
  height: 345px;
  background-image: url("../../imgs/yelisalbum.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.album .second .pirveli .yelistba h1 {
  color: aliceblue;
  font-family: "BPG Glaho WEB Caps", sans-serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  text-align: center;
}
.album .second .meore .alevi {
  width: 370px;
  height: 710px;
  background-image: url("../../imgs/alevi.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.album .second .meore .alevi h1 {
  color: aliceblue;
  font-family: "BPG Glaho WEB Caps", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  text-align: center;
}
.album .third {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  height: 1000px;
}
.album .third .two {
  display: flex;
  justify-content: space-between;
  width: 86%;
}
.album .third .two .armazi {
  background-image: url("../../imgs/qsnisarmazi.jpg");
  width: 650px;
  height: 300px;
  border-radius: 10px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
.album .third .two .armazi h1 {
  color: aliceblue;
  font-family: "BPG Glaho WEB Caps", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  text-align: center;
}
.album .third .two .yanchaveti {
  background-image: url("../../imgs/yanchaveti.jpg");
  width: 650px;
  height: 300px;
  border-radius: 10px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
.album .third .two .yanchaveti h1 {
  color: aliceblue;
  font-family: "BPG Glaho WEB Caps", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  text-align: center;
}
.album .third .one .xofa {
  background-image: url("../../imgs/xofa.jpg");
  width: 1430px;
  height: 600px;
  border-radius: 10px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
.album .third .one .xofa h1 {
  color: aliceblue;
  font-family: "BPG Glaho WEB Caps", sans-serif;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  text-align: center;
}

.art-1 {
  background-color: #0b0706;
}
.art-1 .div-1 {
  padding-top: 96px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.art-1 .div-1 .cixe {
  background-image: url("../../imgs/cixe.jpg");
  width: 600px;
  height: 500px;
  border-radius: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.art-1 .div-1 .cixe img {
  width: 300px;
  height: 300px;
  border-radius: 100%;
  border: solid 2px black;
  position: absolute;
  left: 80%;
  top: 40%;
}
.art-1 .div-1 p {
  color: #525560;
  font-family: "BPG Glaho WEB Caps", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 900;
  line-height: 160%;
  width: 600px;
  text-align: center;
}
.art-1 .div-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 96px;
}
.art-1 .div-2 .inside {
  padding-top: 96px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}
.art-1 .div-2 .inside p {
  color: #525560;
  font-family: "BPG Glaho WEB Caps", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 900;
  line-height: 160%;
  width: 600px;
  text-align: center;
}
.art-1 .div-2 .inside .lar {
  background-image: url("../../imgs/largvisi1.jpg");
  width: 600px;
  height: 500px;
  border-radius: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.art-1 .div-2 .inside .lar img {
  width: 300px;
  height: 300px;
  border-radius: 100%;
  border: solid 2px black;
  position: absolute;
  right: 80%;
  top: 40%;
}
.art-1 .div-2 p {
  color: #525560;
  font-family: "BPG Glaho WEB Caps", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 900;
  line-height: 160%;
  width: 600px;
  text-align: center;
  width: 100%;
  padding-top: 56px;
  width: 90%;
}

.art-2 {
  background-color: #bef3c0;
}
.art-2 .div-1 {
  padding-top: 96px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.art-2 .div-1 .lom {
  background-image: url("../../imgs/lomisi.jpg");
  width: 600px;
  height: 500px;
  border-radius: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.art-2 .div-1 .lom img {
  width: 300px;
  height: 300px;
  border-radius: 100%;
  border: solid 2px black;
  position: absolute;
  left: 80%;
  top: 40%;
}
.art-2 .div-1 p {
  color: #525560;
  font-family: "BPG Glaho WEB Caps", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 900;
  line-height: 160%;
  width: 500px;
  text-align: center;
}
.art-2 .div-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 96px;
}
.art-2 .div-2 .inside {
  padding-top: 96px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}
.art-2 .div-2 .inside p {
  color: #525560;
  font-family: "BPG Glaho WEB Caps", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 900;
  line-height: 160%;
  width: 600px;
  text-align: center;
}
.art-2 .div-2 .inside .wirq {
  background-image: url("../../imgs/wirqoli2.jpg");
  width: 600px;
  height: 500px;
  border-radius: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.art-2 .div-2 .inside .wirq img {
  width: 300px;
  height: 300px;
  border-radius: 100%;
  border: solid 2px black;
  position: absolute;
  right: 80%;
}
.art-2 .div-2 p {
  color: #525560;
  font-family: "BPG Glaho WEB Caps", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 900;
  line-height: 160%;
  width: 500px;
  text-align: center;
  width: 100%;
  padding-top: 56px;
  width: 90%;
}

.art-3 {
  background-color: #0b0706;
}
.art-3 .div-1 {
  padding-top: 96px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.art-3 .div-1 .yelistb {
  background-image: url("../../imgs/yelistba1.jpg");
  width: 600px;
  height: 500px;
  border-radius: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.art-3 .div-1 p {
  color: #525560;
  font-family: "BPG Glaho WEB Caps", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 900;
  line-height: 160%;
  width: 600px;
  text-align: center;
}
.art-3 .div-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 96px;
}
.art-3 .div-2 .inside {
  padding-top: 96px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}
.art-3 .div-2 .inside p {
  color: #525560;
  font-family: "BPG Glaho WEB Caps", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 900;
  line-height: 160%;
  width: 600px;
  text-align: center;
}
.art-3 .div-2 .inside .xofa {
  background-image: url("../../imgs/xofa1.jpg");
  width: 600px;
  height: 500px;
  border-radius: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.art-3 .div-2 .inside .xofa .a {
  width: 300px;
  height: 300px;
  border-radius: 100%;
  border: solid 2px black;
  position: absolute;
  right: 80%;
  top: 60%;
}
.art-3 .div-2 .inside .xofa .b {
  width: 300px;
  height: 300px;
  border-radius: 100%;
  border: solid 2px black;
  position: absolute;
  right: 80%;
  bottom: 60%;
}
.art-3 .div-2 p {
  color: #525560;
  font-family: "BPG Glaho WEB Caps", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 900;
  line-height: 160%;
  width: 600px;
  text-align: center;
  width: 100%;
  padding-top: 56px;
  width: 90%;
}

.art-4 {
  background-color: #bef3c0;
}
.art-4 .div-1 {
  padding-top: 96px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.art-4 .div-1 .armaz {
  background-image: url("../../imgs/armazi1.jpg");
  width: 600px;
  height: 500px;
  border-radius: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.art-4 .div-1 .armaz img {
  width: 300px;
  height: 300px;
  border-radius: 100%;
  border: solid 2px black;
  position: absolute;
  left: 80%;
  top: 40%;
}
.art-4 .div-1 p {
  color: #525560;
  font-family: "BPG Glaho WEB Caps", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 900;
  line-height: 160%;
  width: 500px;
  text-align: center;
}
.art-4 .div-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 96px;
}
.art-4 .div-2 .inside {
  padding-top: 96px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}
.art-4 .div-2 .inside p {
  color: #525560;
  font-family: "BPG Glaho WEB Caps", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 900;
  line-height: 160%;
  width: 600px;
  text-align: center;
}
.art-4 .div-2 .inside .yanch {
  background-image: url("../../imgs/yanchaveti1.jpg");
  width: 600px;
  height: 500px;
  border-radius: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.art-4 .div-2 .inside .yanch img {
  width: 300px;
  height: 300px;
  border-radius: 100%;
  border: solid 2px black;
  position: absolute;
  right: 80%;
}
.art-4 .div-2 p {
  color: #525560;
  font-family: "BPG Glaho WEB Caps", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 900;
  line-height: 160%;
  width: 500px;
  text-align: center;
  width: 100%;
  padding-top: 56px;
  width: 90%;
}

.sec-1 {
  background-color: #0b0706;
}
.sec-1 .photo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 96px 0px;
}
.sec-1 .photo .sasaxle {
  border-radius: 100%;
  width: 900px;
  height: 600px;
  background-image: url("../../imgs/eristavi1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  border: solid 4px aliceblue;
}
.sec-1 .photo .sasaxle .c {
  position: absolute;
  width: 400px;
  height: 400px;
  border-radius: 100%;
  border: solid 2px aliceblue;
  right: 80%;
  top: 20%;
}
.sec-1 .photo .sasaxle .d {
  position: absolute;
  width: 400px;
  height: 400px;
  border-radius: 100%;
  border: solid 2px aliceblue;
  left: 80%;
  top: 20%;
}
.sec-1 .photo p {
  color: #525560;
  font-family: "BPG Glaho WEB Caps", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 900;
  line-height: 160%;
  width: 500px;
  text-align: center;
  width: 100%;
  padding-top: 56px;
  width: 70%;
}
.sec-1 .photo p span {
  color: #70c174;
  font-family: "BPG Glaho WEB Caps", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 900;
  line-height: 160%;
}

.devide1 {
  width: 100%;
  height: 30px;
  background-color: #70c174;
}

.devide2 {
  width: 100%;
  height: 30px;
  background-color: gold;
}

.sec-2 {
  background-color: #e5e5e5;
}
.sec-2 .gandzi {
  padding: 96px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.sec-2 .gandzi h1 {
  color: gold;
  font-family: "BPG Glaho WEB Caps", sans-serif;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 76.8px */
}
.sec-2 .gandzi div {
  padding: 96px 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
}
.sec-2 .gandzi div p {
  color: gold;
  font-family: "BPG Glaho WEB Caps", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 900;
  line-height: 160%;
  width: 500px;
  text-align: center;
  border: 2px solid gold;
  background-color: orange;
  border-radius: 20px;
}
.sec-2 .gandzi div img {
  width: 500px;
  height: 500px;
  border-radius: 100%;
}

.devide3 {
  width: 100%;
  height: 30px;
  background-color: #1d2130;
}

.dasi {
  background-color: #eff7f2;
}
.dasi .saswauli {
  padding: 96px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.dasi .saswauli .gocha {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("../../imgs/dasi.jpg");
  width: 600px;
  height: 600px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 100%;
}
.dasi .saswauli .gocha h1 {
  color: #BEF3C0;
  font-family: "BPG Glaho WEB Caps", sans-serif;
  font-size: 58px;
  font-style: normal;
  font-weight: 900;
  line-height: 120%; /* 76.8px */
}
.dasi .saswauli .gocha h2 {
  color: #70c174;
  font-family: "BPG Glaho WEB Caps", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}
.dasi .saswauli .gocha h3 {
  display: none;
}
.dasi .gocha:hover {
  transition: 1s;
  width: 1000px;
  height: 1000px;
  border-radius: 100px;
}
.dasi .gocha:hover h1 {
  display: none;
}
.dasi .gocha:hover h3 {
  color: #eff7f2;
  font-family: "BPG Glaho WEB Caps", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 900;
  line-height: 160%;
  text-align: center;
  display: flex;
  width: 600px;
  padding-top: 16px;
}

footer {
  width: 100%;
  height: 402px;
  background-color: #0b0706;
}
footer .footer-1 {
  padding-left: 110px;
  padding-top: 97px;
  display: flex;
  width: 100%;
  justify-content: space-between;
}
footer .footer-1 img {
  height: 80px;
  margin-right: 117px;
}
footer .footer-1 .footer-2 {
  display: flex;
  flex-direction: column;
}
footer .footer-1 .footer-2 h1 {
  color: #fff;
  font-family: "BPG Glaho WEB Caps", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 160%;
  margin-bottom: 24px;
}
footer .footer-1 .footer-2 a {
  color: #525560;
  font-family: "BPG Glaho WEB Caps", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  margin-bottom: 24px;
}
footer .footer-1 h2 {
  color: aliceblue;
  font-family: "BPG Glaho WEB Caps", sans-serif;
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  width: 600px;
  vertical-align: top;
}/*# sourceMappingURL=about.css.map */