header nav {
  display: flex;
  justify-content: space-between;
}
header nav .logo {
  margin-left: 110px;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
}
header nav .logo i {
  padding-top: 22px;
  margin: 0px 5px;
}
header nav .logo img {
  height: 40px;
}
header nav .nav {
  margin-right: 110px;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
header nav .nav a {
  margin-left: 40px;
  color: var(--black, #0b0706);
  font-family: "BPG Glaho WEB Caps", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
header nav .nav .active {
  color: #70c174;
  font-size: 18px;
}
header nav .nav .reg {
  width: 115px;
  height: 43px;
  border-radius: 4px;
  background-color: #1d2130;
  display: flex;
  align-items: center;
  justify-content: center;
}
header nav .nav .reg h3 {
  color: #fff;
  text-align: right;
  font-family: "BPG Glaho WEB Caps", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  width: 95px;
  height: 25px;
}
header nav .nav .sign {
  width: 115px;
  height: 43px;
  border-radius: 4px;
  background-color: #1d2130;
  display: flex;
  align-items: center;
  justify-content: center;
}
header nav .nav .sign h3 {
  color: #fff;
  text-align: right;
  font-family: "BPG Glaho WEB Caps", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  width: 45px;
  height: 25px;
}
header nav .reg:hover,
header nav .sign:hover {
  background-color: #70c174;
  transition: 0.3s;
  width: 105px;
  height: 33px;
}
header nav .reg:hover h3,
header nav .sign:hover h3 {
  color: #1d2130;
}

.yeli {
  width: 100%;
  height: 735px;
  background-image: url("../../imgs/yelistba1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.yeli h1 {
  color: #ebf0f9;
  font-family: "BPG Glaho WEB Caps", sans-serif;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}
.yeli p {
  color: #525560;
  font-family: "BPG Glaho WEB Caps", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  padding-left: 300px;
}

.eco {
  background-color: #bef3c0;
}
.eco .ecosystem {
  padding-top: 96px;
  padding-left: 110px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 500px;
}
.eco .ecosystem .line {
  width: 100px;
  height: 3px;
  background-color: #1d2130;
}
.eco .ecosystem h2 {
  color: #1d2130;
  font-family: "BPG Glaho WEB Caps", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}
.eco .info {
  display: flex;
  justify-content: space-around;
  padding: 96px 0px;
}
.eco .info .river {
  width: 400px;
  height: 553px;
  background-image: url("../../imgs/trough.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.eco .info .river h2 {
  display: none;
}
.eco .info .red {
  width: 400px;
  height: 553px;
  background-image: url("../../imgs/red.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.eco .info .red h2 {
  display: none;
}
.eco .info .plant {
  width: 400px;
  height: 553px;
  background-image: url("../../imgs/plant.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.eco .info .plant h2 {
  display: none;
}
.eco .info h1 {
  color: #bef3c0;
  font-family: "BPG Glaho WEB Caps", sans-serif;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}
.eco .info .river:hover,
.eco .info .red:hover,
.eco .info .plant:hover {
  border-radius: 10px;
  transition: 1s;
  width: 600px;
  height: 753px;
}
.eco .info .river:hover h1,
.eco .info .red:hover h1,
.eco .info .plant:hover h1 {
  display: none;
}
.eco .info .river:hover h2,
.eco .info .red:hover h2,
.eco .info .plant:hover h2 {
  display: flex;
  color: #EFF7F2;
  font-family: "BPG Glaho WEB Caps", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: 150%;
  align-self: center;
  padding-left: 20px;
  text-align: center;
}/*# sourceMappingURL=about.css.map */