body {
  background-color: #525560;
  .form {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    form {
      padding-top: 300px;
      .logos {
        display: flex;
        justify-content: center;
        img {
          height: 40px;
        }
      }
      .mb-3 {
        width: 400px;
        .form-label {
          color: #70c174;      
          font-family: "BPG Glaho WEB Caps", sans-serif;
        }
        .form-check-label {
          color: #70c174;
          font-family: "BPG Glaho WEB Caps", sans-serif;
        }
      }
      button {
        width: 400px;
        font-family: "BPG Glaho WEB Caps", sans-serif;
      }
      button:hover {
        background-color: black;
        border: solid white 1px;
      }
      a {
        font-family: "BPG Glaho WEB Caps", sans-serif;
        .goto {
          width: 400px;
          height: 38px;
          background-color: #70C174;
          border-radius: 4px;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-top: 10px;
          h2 {
            font-size: 17px;
            color: white;
            font-family: "BPG Glaho WEB Caps", sans-serif;
          }
        }
        .goto:hover {
          background-color: #1D2130;
          border: solid white 1px;
        }
      }
    }
  }
}
