header {
  background-color: #bef3c0;
  nav {
    display: flex;
    justify-content: space-between;
    .logo {
      margin-left: 110px;
      margin-top: 20px;
      margin-bottom: 20px;
      display: flex;
      i {
        padding-top: 22px;
        margin: 0px 5px;
      }
      img {
        height: 40px;
      }
    }
    .nav {
      margin-right: 110px;
      margin-top: 20px;
      margin-bottom: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      a {
        margin-left: 40px;
        color: var(--black, #0b0706);
        font-family: "BPG Glaho WEB Caps", sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }
      .active {
        color: #70c174;
        font-size: 18px;
      }
      .reg {
        width: 115px;
        height: 43px;
        border-radius: 4px;
        background-color: #0b0706;
        display: flex;
        align-items: center;
        justify-content: center;

        h3 {
          color: #fff;
          text-align: right;
          font-family: "BPG Glaho WEB Caps", sans-serif;
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
        }
      }
      .sign {
        width: 115px;
        height: 43px;
        border-radius: 4px;
        background-color: #0b0706;
        display: flex;
        align-items: center;
        justify-content: center;

        h3 {
          color: #fff;
          text-align: right;
          font-family: "BPG Glaho WEB Caps", sans-serif;
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
        }
      }
    }
    .reg:hover,
    .sign:hover {
      background-color: aliceblue;
      transition: 0.3s;
      width: 105px;
      height: 33px;
      h3 {
        color: #1d2130;
      }
    }
  }
}
.yeli {
  width: 100%;
  height: 735px;
  background-image: url("../../imgs/yelistba1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  h1 {
    color: #ebf0f9;
    font-family: "BPG Glaho WEB Caps", sans-serif;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
  }
  p {
    color: #bef3c0;
    font-family: "BPG Glaho WEB Caps", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    padding-left: 300px;
  }
}
.eco {
  background-color: #bef3c0;
  .ecosystem {
    padding-top: 96px;
    padding-left: 110px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 500px;
    .line {
      width: 100px;
      height: 3px;
      background-color: #1d2130;
    }
    h2 {
      color: #1d2130;
      font-family: "BPG Glaho WEB Caps", sans-serif;
      font-size: 48px;
      font-style: normal;
      font-weight: 700;
      line-height: 120%;
    }
  }
  .info {
    display: flex;
    justify-content: space-around;
    padding: 96px 0px;
    .river {
      width: 400px;
      height: 553px;
      background-image: url("../../imgs/trough.jpg");
      background-position: center;
      background-size: cover;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      h2 {
        display: none;
      }
    }
    .red {
      width: 400px;
      height: 553px;
      background-image: url("../../imgs/red.jpg");
      background-position: center;
      background-size: cover;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      h2 {
        display: none;
      }
    }
    .plant {
      width: 400px;
      height: 553px;
      background-image: url("../../imgs/plant.jpg");
      background-position: center;
      background-size: cover;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      h2 {
        display: none;
      }
    }
    h1 {
      color: #fbff00;
      font-family: "BPG Glaho WEB Caps", sans-serif;
      font-size: 56px;
      font-style: normal;
      font-weight: 700;
      line-height: 120%;
    }
    .river:hover,
    .red:hover,
    .plant:hover {
      border-radius: 10px;
      transition: 1s;
      width: 600px;
      height: 753px;
      h1 {
        display: none;
      }
      h2 {
        display: flex;
        color: #fbff00;
        font-family: "BPG Glaho WEB Caps", sans-serif;
        font-size: 24px;
        font-style: normal;
        font-weight: 900;
        line-height: 150%;
        align-self: center;
        padding-left: 20px;
        text-align: center;
      }
    }
  }
}
.history {
  display: flex;
  justify-content: center;
  background-color: #0b0706;
  .back {
    margin: 96px 0px;
    width: 90%;
    height: 700px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url("../../imgs/oldcastle.jpg");
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .center {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      .line2 {
        width: 250px;
        height: 3px;
        background-color: #bef3c0;
      }
      h1 {
        color: #bef3c0;
        font-family: "BPG Glaho WEB Caps", sans-serif;
        font-size: 64px;
        font-style: normal;
        font-weight: 700;
        line-height: 120%;
        height: 60px;
      }
    }
    h2 {
      display: none;
    }
  }
  .back:hover {
    transition: 1s;
    cursor: pointer;
    border-radius: 70px;
    h2 {
      color: #70c174;
      font-family: "BPG Glaho WEB Caps", sans-serif;
      font-size: 20px;
      font-style: normal;
      font-weight: 900;
      line-height: 150%;
      text-align: center;
      display: flex;
    }
  }
}
.album {
  background-color: #bef3c0;
  padding-bottom: 96px;
  .top {
    width: 100%;
    padding: 96px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    h1 {
      color: #1d2130;
      font-size: 64px;
      font-family: "BPG Glaho WEB Caps", sans-serif;
      font-style: normal;
      font-weight: 700;
      line-height: 120%;
    }
  }
  .first {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 96px;
    .half {
      .qarchoxi {
        width: 370px;
        height: 710px;

        background-image: url("../../imgs/qarchoxis\ cixe.jpg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        h1 {
          color: aliceblue;
          font-family: "BPG Glaho WEB Caps", sans-serif;
          font-size: 40px;
          font-style: normal;
          font-weight: 700;
          line-height: 120%;
          text-align: center;
        }
      }
    }
    .half2 {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .cubes {
        display: flex;
        justify-content: space-between;
        .largvisi {
          width: 459px;
          height: 345px;
          background-image: url("../../imgs/largvisi.jpg");
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
          border-radius: 10px;
          display: flex;
          align-items: center;
          justify-content: center;
          h1 {
            color: aliceblue;
            font-family: "BPG Glaho WEB Caps", sans-serif;
            font-size: 30px;
            font-style: normal;
            font-weight: 700;
            line-height: 120%;
            text-align: center;
          }
        }
        .lomisi {
          width: 459px;
          height: 345px;
          background-image: url("../../imgs/lomisi.jpg");
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
          border-radius: 10px;
          display: flex;
          align-items: center;
          justify-content: center;
          h1 {
            color: aliceblue;
            font-family: "BPG Glaho WEB Caps", sans-serif;
            font-size: 30px;
            font-style: normal;
            font-weight: 700;
            line-height: 120%;
            text-align: center;
          }
        }
      }
      .eristavebi {
        width: 938px;
        height: 345px;
        background-image: url("../../imgs/eristavebialbum.jpg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 10px;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        h1 {
          color: aliceblue;
          font-family: "BPG Glaho WEB Caps", sans-serif;
          font-size: 50px;
          font-style: normal;
          font-weight: 700;
          line-height: 120%;
          text-align: center;
        }
      }
    }
  }
  .second {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 96px;
    .pirveli {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .kubebi {
        display: flex;
        justify-content: space-between;
        .wirqoli {
          width: 459px;
          height: 345px;
          background-image: url("../../imgs/wirqoli.jpg");
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
          border-radius: 10px;
          display: flex;
          align-items: center;
          justify-content: center;
          h1 {
            color: aliceblue;
            font-family: "BPG Glaho WEB Caps", sans-serif;
            font-size: 30px;
            font-style: normal;
            font-weight: 700;
            line-height: 120%;
            text-align: center;
          }
        }
        .cxavati {
          width: 459px;
          height: 345px;
          background-image: url("../../imgs/cxavati.jpg");
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
          border-radius: 10px;
          display: flex;
          align-items: center;
          justify-content: center;
          h1 {
            color: aliceblue;
            font-family: "BPG Glaho WEB Caps", sans-serif;
            font-size: 30px;
            font-style: normal;
            font-weight: 700;
            line-height: 120%;
            text-align: center;
          }
        }
      }
      .yelistba {
        width: 938px;
        height: 345px;
        background-image: url("../../imgs/yelisalbum.jpg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        h1 {
          color: aliceblue;
          font-family: "BPG Glaho WEB Caps", sans-serif;
          font-size: 50px;
          font-style: normal;
          font-weight: 700;
          line-height: 120%;
          text-align: center;
        }
      }
    }
    .meore {
      .alevi {
        width: 370px;
        height: 710px;

        background-image: url("../../imgs/alevi.jpg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 10px;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        h1 {
          color: aliceblue;
          font-family: "BPG Glaho WEB Caps", sans-serif;
          font-size: 40px;
          font-style: normal;
          font-weight: 700;
          line-height: 120%;
          text-align: center;
        }
      }
    }
  }
  .third {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    height: 1000px;
    .two {
      display: flex;
      justify-content: space-between;
      width: 86%;
      .armazi {
        background-image: url("../../imgs/qsnisarmazi.jpg");
        width: 650px;
        height: 300px;
        border-radius: 10px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        align-items: center;
        justify-content: center;
        h1 {
          color: aliceblue;
          font-family: "BPG Glaho WEB Caps", sans-serif;
          font-size: 40px;
          font-style: normal;
          font-weight: 700;
          line-height: 120%;
          text-align: center;
        }
      }
      .yanchaveti {
        background-image: url("../../imgs/yanchaveti.jpg");
        width: 650px;
        height: 300px;
        border-radius: 10px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        align-items: center;
        justify-content: center;
        h1 {
          color: aliceblue;
          font-family: "BPG Glaho WEB Caps", sans-serif;
          font-size: 40px;
          font-style: normal;
          font-weight: 700;
          line-height: 120%;
          text-align: center;
        }
      }
    }
    .one {
      .xofa {
        background-image: url("../../imgs/xofa.jpg");
        width: 1430px;
        height: 600px;
        border-radius: 10px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        align-items: center;
        justify-content: center;
        h1 {
          color: aliceblue;
          font-family: "BPG Glaho WEB Caps", sans-serif;
          font-size: 60px;
          font-style: normal;
          font-weight: 700;
          line-height: 120%;
          text-align: center;
        }
      }
    }
  }
}
